@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AD_IT Project Groep 03</h1>
    <p class="lead">Welkom op de backend server van AD_IT Project Groep 03</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Users</h2>
        <p>
            Bekijk alle user objecten met hun gegevens van het Finah-Project.
        </p>
        <p><a class="btn btn-default" href="~/UserBackend">Finah Users &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Usertypes</h2>
        <p>
            Bekijk alle usertype objecten met hun gegevens van het Finah-Project.
        </p>
        <p><a class="btn btn-default" href="~/UsertypeBackend">Finah Usertypes &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Themes</h2>
        <p>Bekijk alle theme objecten met hun gegevens van het Finah-Project.</p>
        <p><a class="btn btn-default" href="~/ThemeBackend">Finah Themes &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Hashes</h2>
        <p>Bekijk alle hashes met hun gegevens van het Finah-Project.</p>
        <p><a class="btn btn-default" href="~/HashesBackend">Finah Hashes &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Questions</h2>
        <p>
            Bekijk alle question objecten met hun gegevens van het Finah-Project.
        </p>
        <p><a class="btn btn-default" href="~/QuestionBackend">Finah Questions &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>QuestionLists</h2>
        <p>
            Bekijk alle questionlists met hun gegevens van het Finah-Project.
        </p>
        <p><a class="btn btn-default" href="~/QuestionlistBackend">Finah Questionlists &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Answers</h2>
        <p>Bekijk alle answer objecten met hun gegevens van het Finah-Project.</p>
        <p><a class="btn btn-default" href="~/AnswerBackend">Finah Answers &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Answerlists</h2>
        <p>Bekijk alle answerlists met hun gegevens van het Finah-Project.</p>
        <p><a class="btn btn-default" href="~/AnswerlistBackend">Finah Answerlists &raquo;</a></p>
    </div>
</div>
