<div class="jumbotron">
    <h1>AD_IT Project Groep 03</h1>
    <p class="lead">Welkom op de Web Api van AD_IT Project Groep 03</p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Api</h2>
        <p>
            Bekijk hier hoe je de Finah Web Api moet aanspreken.
        </p>
        <p><a class="btn btn-default" href="~/Help">Api Help page &raquo;</a></p>
    </div>
</div>